$base-font: $lato;

img{
    max-width: 100%;
}
body p{
    font-family: $base-font;
    font-weight: $font-weight-light;
}
a{
    text-decoration: none;
    font-weight: $font-weight-normal;
    font-family: $base-font;
    font-size: 1.4rem;
    line-height: 1.7rem;
}
.section-title{
    font-family: 'Bodoni';
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 5px;
}
.section-title:after{
    content: "";
    display: block;
    height: 1px;
    width: 74px;
    background-color: $primary;
    margin: 25px 0 45px;
    
}
