
.team{
    padding: 50px 0;
    .team-members-slider{
        padding: 50px 0;
        .team-item{
            h4{
                font-family: $base-font;
                font-weight: $font-weight-normal;
                font-size: 3rem;
                line-height: 2.7rem;
            }
        }
    }
}

@media(min-width:768px){
    .team-members-slider{
        border: 1px solid $primary;
        .team-item{
            padding-top: 30px;
        }
    }
}
@media(min-width:992px){
    .team{
        padding: 110px 0 67px;
    }
}
@media(min-width:1200px){
    .team-members-slider{
        .team-item{
            .member-description{
                padding-right: 150px;
            }
        }
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: -35px;
    }
}
